WS-NotificarClientesBancoABC/src/resources/NotificarClientesBancoABC.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bancoABC.com.co/NotificarClientesBancoABC/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificarClientesBancoABC" targetNamespace="http://www.bancoABC.com.co/NotificarClientesBancoABC/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bancoABC.com.co/NotificarClientesBancoABC/">
      <xsd:element name="NotificarClientes">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="tipoID" type="xsd:string" />
          	<xsd:element name="numID" type="xsd:string"></xsd:element>
          	<xsd:element name="tipoNotificacion" type="xsd:string"></xsd:element>
          	<xsd:element name="direccionNotificacion" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NotificarClientesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="rta" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NotificarClientesRequest">
    <wsdl:part element="tns:NotificarClientes" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NotificarClientesResponse">
    <wsdl:part element="tns:NotificarClientesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="NotificarClientesBancoABC">
    <wsdl:operation name="NotificarClientes">
      <wsdl:input message="tns:NotificarClientesRequest"/>
      <wsdl:output message="tns:NotificarClientesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificarClientesBancoABCSOAP" type="tns:NotificarClientesBancoABC">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NotificarClientes">
      <soap:operation soapAction="http://www.bancoABC.com.co/NotificarClientesBancoABC/NotificarClientes"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificarClientesBancoABC">
    <wsdl:port binding="tns:NotificarClientesBancoABCSOAP" name="NotificarClientesBancoABCSOAP">
      <soap:address location="http://www.bancoABC.com.co/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
